{% extends 'adminapp/base.html' %}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Category</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                            {% for category in categorys %}
                            <tr>
                                <td>
                                    <div class="form-check form-check-muted m-0 d-flex">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                        <span class="category-table">{{ category.name }}</span>
                                        <div class="edit-category d-flex ml-auto">
                                            <a href="{% url 'edit-category' category.id %}"><i class="fas fa-edit text-primary mr-2"></i></a>
                                            <a href="{% url 'del-category' category.id %}"><i class="fas fa-trash text-danger"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                    </table>
                    <div class="text-center"><a href="{% url 'add-category' %}" class="btn btn-success ml-auto">Add Category</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    </div> 
</div>  
{% endblock content %}
    