{% extends 'users/base.html' %}
{% load static %}


{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'users-home' %}">Home</a>
                            <a href="{% url 'shop' %}">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for cart in cart_items %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic" style="width: 90px;">
                                            <img src="{{ cart.variant.product.image.url }}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{ cart.variant.product.name }}</h6>
                                            <h6>Inr {{ cart.variant.product.price }}</h6>
                                            <span>Color:</span><span> {{ cart.variant.color }}</span><br>
                                            <span>Size:</span><span> {{ cart.variant.size }}</span>
                                        </div>
                                    </td>
                                    
                                    {% if cart.variant.stock == 0 %}
                                        {% comment %} <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input type="text" value="0">
                                                </div>
                                            </div>
                                        </td> {% endcomment %}
                                        <td class="cart__price">Out of Stock</td>
                                    {% else %}
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="d-flex">
                                                    <form action="{% url 'remove_item_cart' cart.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button type='submit'><span class="fa fa-angle-left dec qtybtn"></span></button>
                                                    </form>
                                                    <input style="width: 30px;text-align: center;" type="text" value="{{ cart.quantity }}">
                                                    <form action="{% url 'add_item_cart' cart.id %}" method="post">
                                                        {% csrf_token %}
                                                       <button type='submit'><span class="fa fa-angle-right inc qtybtn"></span></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">Inr {{ cart.total_price }}</td>
                                    {% endif %}
                                    
                                    {% if user.is_authenticated %}
                                        <td class="cart__close"><a href="{% url 'delete_cartitem' cart.id %}"><i class="fa fa-close"></i></a></td>
                                    {% endif %}
                                        
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'shop' %}">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total <span>Inr {{total}}</span></li>
                        </ul>
                        <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

{% endblock content %}

