
{% extends 'users/base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'css/register.css' %}">{% endblock  %}
{% block content %}
 
<div class="section">
	<div class="container-fluid">
		{% comment %} <div class="row justify-content-center hero__items-login set-bg" data-setbg="{% static 'img/bg-login.webp' %}"> {% endcomment %}
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<div class="card-3d-wrap mx-auto rounded border">
						<div class="card-3d-wrapper">
							<div class="card-front">
								<h2 class="mt-5">Password reset email sent</h2>
								<div class="center-wrap">
									<div class="section text-center">
                    				<p style="font-size:20px;">We have sent you an email with instructions to reset your password.</p>
								  </div>
							  </div>
							</div>
						</div>
					</div>
				</div>	
			</div>
	  </div>
  </div>
  
{% endblock  %}

{% block footer %}
	
{% endblock footer %}
	